.search_content{
    position: absolute;
    top: 10px;
    left: 100px;
}
.root_content_aa{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 100%) ;
}
.setpage_button_box{
    position: absolute;
    right: 0;
    bottom: 10px;
}
.setpage_button{
    width: 220px;
    height: 50px;
    /* line-height: 50px; */
    position: relative;
    /* border: 1px solid black; */
}
.setpage_button>p{
    width: 100px;
    position: absolute;
    left: 57px;
    top: 11px;
    text-align: center;
}
.local_page{
    position: absolute;
    left: 0px;
    top: 7px;
}
.next_page{
    position: absolute;
    right: 0;
    top: 7px;
}